# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/copyright/
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/plodash.iml
.idea/workspace.xml
.idea/vcs.xml
